<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzh.mapper.QuarzTaskMapper" >
  <resultMap id="BaseResultMap" type="com.zzh.quarz.dto.QuarzTaskDTO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="task_name" property="taskName" jdbcType="VARCHAR" />
    <result column="task_group" property="taskGroup" jdbcType="VARCHAR" />
    <result column="task_class" property="taskClass" jdbcType="VARCHAR" />
    <result column="cron" property="cron" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, task_name, task_group, task_class, cron, description, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from job_entity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from job_entity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zzh.quarz.dto.QuarzTaskDTO" >
    insert into job_entity (id, task_name, task_group, 
      task_class, cron, description,
      status)
    values (#{id,jdbcType=INTEGER}, #{taskName,jdbcType=VARCHAR}, #{taskGroup,jdbcType=VARCHAR}, 
      #{taskClass,jdbcType=VARCHAR}, #{cron,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zzh.quarz.dto.QuarzTaskDTO" >
    insert into job_entity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="taskName != null" >
        task_name,
      </if>
      <if test="taskGroup != null" >
        task_group,
      </if>
      <if test="taskClass != null" >
        taskClass,
      </if>
      <if test="cron != null" >
        cron,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="taskName != null" >
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="taskGroup != null" >
        #{taskGroup,jdbcType=VARCHAR},
      </if>
      <if test="taskClass != null" >
        #{taskClass,jdbcType=VARCHAR},
      </if>
      <if test="cron != null" >
        #{cron,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzh.quarz.dto.QuarzTaskDTO" >
    update job_entity
    <set >
      <if test="taskName != null" >
        task_name = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="taskGroup != null" >
        task_group = #{taskGroup,jdbcType=VARCHAR},
      </if>
      <if test="taskClass != null" >
        task_class = #{taskClass,jdbcType=VARCHAR},
      </if>
      <if test="cron != null" >
        cron = #{cron,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzh.quarz.dto.QuarzTaskDTO" >
    update job_entity
    set task_name = #{taskName,jdbcType=VARCHAR},
      task_group = #{taskGroup,jdbcType=VARCHAR},
      task_class = #{taskClass,jdbcType=VARCHAR},
      cron = #{cron,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAllValidTask" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from job_entity
    where status = 1
  </select>
</mapper>