<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzh.mapper.RolePremissionMapper">
    <resultMap id="BaseResultMap" type="com.zzh.po.RolePremission">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="role_id" property="roleId" jdbcType="VARCHAR"/>
        <result column="premission_id" property="premisssionId" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, role_id, premission_id
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from role_premission
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role_premission
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.zzh.po.RolePremission">
    insert into role_premission (id, role_id, premission_id
      )
    values (#{id,jdbcType=INTEGER}, #{roleId,jdbcType=VARCHAR}, #{premisssionId,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.zzh.po.RolePremission">
        insert into role_premission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
            <if test="premisssionId != null">
                premission_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="premisssionId != null">
                #{premisssionId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zzh.po.RolePremission">
        update role_premission
        <set>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="premisssionId != null">
                premission_id = #{premisssionId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zzh.po.RolePremission">
    update role_premission
    set role_id = #{roleId,jdbcType=VARCHAR},
      premission_id = #{premisssionId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="getRoleRules" resultType="com.zzh.dto.RoleRulesDTO" parameterType="java.lang.String">
        select url as url ,group_concat(DISTINCT r.rname) as roleCode
        from role r, role_premission rp, premission p
        where r.rid = rp.role_id
        and rp.premission_id = p.id
        and p.status = 1
        group by url
    </select>
</mapper>